parameters:
    bootstrapFiles:
        - ../../plugin/vendor/autoload.php
    ignoreErrors:
        - '#Call to static method header\(\) on an unknown class WHM.#'
        - '#Call to static method footer\(\) on an unknown class WHM.#'
