<div>
    <ol class="breadcrumb">
        <li>
            <a href="{{ cpSession }}/scripts/command?PFILE=main">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </li>
        <li>
            <a href="{{ cpSession }}/scripts/command?PFILE=Plugins">Plugins</a>
        </li>
        <li class="active">
            <a href="{{ cpSession }}/cgi/crowdsec/endpoints/doc.php">CrowdSec</a>
        </li>
    </ol>
</div>
