<div class="row">
    <div class="col-md-12 services">
        {% if no_exec_func %}
            <div class="crowdsec-messages">
                <div class="alert alert-danger">
                    <p>Required PHP functions are all disabled. To use this plugin, please enable one of the following functions: <code>system</code>, <code>passthru</code> or <code>exec</code>.</p>
                </div>
            </div>
        {% endif %}
    </div>
</div>
