parameters:
    paths:
        - src
        - endpoints
    excludePaths:
    		- vendor/*
    		- tests/*
    		- assets/*
    		- tools/*
    fileExtensions:
    		- php
    bootstrapFiles:
        - ../../../vendor/autoload.php
