{% include('partials/styles.html.twig') %}
{% include('partials/scripts.html.twig') %}
{% include('partials/services-scripts.html.twig') %}
{% include('partials/breadcrumbs.html.twig') with {'cpSession': cpSession} %}
{% include('partials/navigation.html.twig') with {'cpSession': cpSession, 'active': 'doc'} %}

<script>
    window.addEventListener("load", function (e) {
        CrowdSecServices.initServices();
    });
</script>

<div class="container-fluid">
    {% include('partials/messages.html.twig') with {'no_exec_func': no_exec_func} %}
    {% include('partials/services.html.twig') with {'restart_needed': restart_needed} %}

    <div class="row crowdsec-doc">
        <div class="col-md-12">
            <div>
                <h2>Prerequisites</h2>
                <div class="crowdsec-doc-content">
                    <p>
                        To be able to use this plugin, the first step is to <a
                                href="https://doc.crowdsec.net/docs/getting_started/install_crowdsec/">install
                            CrowdSec Security Engine</a> on your WHM server.
                    </p>
                </div>
            </div>

            <div>

                <h2>Overview</h2>
                <div class="crowdsec-doc-content">
                    <h3>Status tab</h3>
                    <p>In the <a href="{{ cpSession }}/cgi/crowdsec/endpoints/status.php">Status</a> tab, you can see
                    </p>

                    <ul>
                        <li>Registered log processors and bouncers</li>
                        <li>Installed hub items (collections, scenarios, parsers, postoverflows)</li>
                        <li>Alerts and local decisions</li>
                    </ul>

                    <p>All tables are read-only.</p>


                    <h3>Metrics tab</h3>

                    <p>
                        In the <a href="{{ cpSession }}/cgi/crowdsec/endpoints/metrics.php">Metrics</a> tab you can
                        check if
                        the logs are acquired and the
                        events are triggered correctly.
                    </p>

                    <p>
                        For real monitoring, you can fetch the same metrics with
                        <a href="https://docs.crowdsec.net/docs/observability/prometheus/">Prometheus (Grafana dashboard
                            included)</a>,
                        Telegraf or your favorite solution.
                    </p>

                    <h3>Acquisitions tab</h3>

                    <p>
                        In the <a href="{{ cpSession }}/cgi/crowdsec/endpoints/acquisitions.php">Acquisitions</a> tab
                        you
                        can manage your acquisitions.
                    </p>

                    <p>
                        Acquisitions files are divided in two parts:
                    <ul>
                        <li>
                            main acquisitions that are defined in the <code>/etc/crowdsec/acquis.yaml</code> file.
                        </li>
                        <li>
                            additional acquisitions that are defined in <code>/etc/crowdsec/acquis.d/*.yaml</code> files.
                        </li>
                    </ul>
                    </p>

                    <p>You can:</p>

                    <ul>
                        <li>Delete main and additional acquisitions</li>
                        <li>Add or edit additional acquisitions</li>
                    </ul>

                    <p>
                        <strong>Warning:</strong> if you add, edit or delete an acquisition, you will have to restart
                        CrowdSec service to apply the changes.
                    </p>

                </div>

            </div>


            <div>
                <h2>Enrolling your instance</h2>
                <div class="crowdsec-doc-content">

                    <p>The next step is to enroll your instance in the <a
                                href="{{ cpSession }}/cgi/crowdsec/endpoints/enroll.php">Enroll section</a>.
                    </p>

                    <p>For the benefits, please visit the <a href="https://docs.crowdsec.net/docs/next/console/intro">Console
                            section</a>.</p>

                </div>

            </div>

        </div>
    </div>
</div>
